{% if is_main %}
<form action="{% url 'csf:create_comment' slug=slug %}" method="post">
    {% csrf_token %}
    {{ form.product_id }}
    {{ form.comment_id }}

    <div class="form-group">
        <label for="id_comment_text">دیدگاه شما</label>
        <textarea name="comment_text" id="id_comment_text" class="form-control" rows="4"></textarea>
    </div>

    <div class="form-group mb-0">
        <button type="submit" class="btn btn-primary btn-lg">ارسال نظر</button>
    </div>
</form>

{% else %}
<form action="{% url 'csf:create_comment' slug=slug %}" method="post">
    {% csrf_token %}
    {{ form.product_id }}
    {{ form.comment_id }}

    <div class="form-group">
        <label for="{{ form.comment_text.id_for_label }}">پاسخ شما</label>
        {{ form.comment_text }}
    </div>

    <div class="form-group mb-0">
        <button type="submit" class="btn btn-primary btn-lg">ارسال پاسخ</button>
    </div>
</form>
{% endif %}
