{% extends 'main_template.html' %}

{% block title %}
    {{ group.title }}
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="mb-4">
        دسته بندی : {{ group.title }}
    </h2>
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                {% for post in page_obj %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ post.get_absolute_url }}">
                                {% if post.image_name %}
                                    <img src="{{ post.image_name.url }}" class="card-img-top">
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h5>
                                    <a href="{{ post.get_absolute_url }}">
                                        {{ post.title }}
                                    </a>
                                </h5>
                                <p class="text-muted small">
                                    {{ post.published_date|date:"Y/m/d" }}
                                    &nbsp;
                                    <i class="fa fa-eye"></i>
                                    {{ post.views }}
                                </p>
                                <p>
                                    {{ post.content|striptags|truncatechars:120 }}
                                </p>
                                <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">
                                    ادامه مطلب
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- pagination -->
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                قبلی
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">
                                {{ num }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                بعدی
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <!-- sidebar -->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    مقالات محبوب
                </div>
                <ul class="list-group list-group-flush">
                    {% for p in popular_posts %}
                        <li class="list-group-item">
                            <a href="{{ p.get_absolute_url }}">
                                {{ p.title }}
                                <br>
                                <small class="text-muted">
                                    <i class="fa fa-eye"></i>
                                    {{ p.views }}
                                </small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
